# Simple Recommender System in Python

This code from [datacamp tutorial](https://www.datacamp.com/community/tutorials/recommender-systems-python)

The dataset from [The Movielens Dataset](https://www.kaggle.com/rounakbanik/the-movies-dataset/data)

Download dataset dari kaggle menggunakan API Token demi menghemat kuota mahasiswa, lebih lengkapnya di [sini](https://www.kaggle.com/general/74235)

In [ ]:
# Upload kaggle.json
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"irfanchairurrachman","key":"309b51d1349ccbc69c0aa34c8a2c408c"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle -la

total 16
drwxr-xr-x 2 root root 4096 May  1 10:56 .
drwx------ 1 root root 4096 May  1 10:56 ..
-rw------- 1 root root   75 May  1 10:56 kaggle.json

In [ ]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 92% 209M/228M [00:03<00:00, 78.3MB/s]
100% 228M/228M [00:03<00:00, 74.0MB/s]

In [ ]:
!unzip the-movies-dataset.zip

Archive:  the-movies-dataset.zip
  inflating: credits.csv
  inflating: keywords.csv
  inflating: links.csv
  inflating: links_small.csv
  inflating: movies_metadata.csv
  inflating: ratings.csv
  inflating: ratings_small.csv

In [ ]:
# Import Pandas
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
metadata.shape

(45466, 24)

In [ ]:
# Calculate mean of vote average column
C = metadata['vote_average'].mean()
print(C)

5.618207215133889

In [ ]:
# Calculate the minimum number of votes required to be in the chart, m
m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

In [ ]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [ ]:
metadata.shape

(45466, 24)

In [ ]:
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [ ]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                                 title  vote_count  vote_average     score
314           The Shawshank Redemption      8358.0           8.5  8.445869
834                      The Godfather      6024.0           8.5  8.425439
10309      Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481                  The Dark Knight     12269.0           8.3  8.265477
2843                        Fight Club      9678.0           8.3  8.256385
292                       Pulp Fiction      8670.0           8.3  8.251406
522                   Schindler's List      4436.0           8.3  8.206639
23673                         Whiplash      4376.0           8.3  8.205404
5481                     Spirited Away      3968.0           8.3  8.196055
2211                 Life Is Beautiful      3643.0           8.3  8.187171
1178            The Godfather: Part II      3418.0           8.3  8.180076
1152   One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
351                       Forrest Gump      8147.0           8.2  8.150272
1154           The Empire Strikes Back      5998.0           8.2  8.132919
1176                            Psycho      2405.0           8.3  8.132715
18465                 The Intouchables      5410.0           8.2  8.125837
40251                       Your Name.      1030.0           8.5  8.112532
289             Leon: The Professional      4293.0           8.2  8.107234
3030                    The Green Mile      4166.0           8.2  8.104511
1170                        GoodFellas      3211.0           8.2  8.077459

In [ ]:
#Print plot overviews of the first 5 movies.
# metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [ ]:
# Pakenya q_movies karena klo metadata kegedean
q_movies['overview'].head()

314      Framed in the 1940s for the double murder of h...
834      Spanning the years 1945 to 1955, a chronicle o...
10309    Raj is a rich, carefree, happy-go-lucky second...
12481    Batman raises the stakes in his war on crime. ...
2843     A ticking-time-bomb insomniac and a slippery s...
Name: overview, dtype: object

In [ ]:
# Reset index dari 0
q_movies = q_movies.reset_index(drop=True)

In [ ]:
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                              title  vote_count  vote_average     score
0          The Shawshank Redemption      8358.0           8.5  8.445869
1                     The Godfather      6024.0           8.5  8.425439
2       Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
3                   The Dark Knight     12269.0           8.3  8.265477
4                        Fight Club      9678.0           8.3  8.256385
5                      Pulp Fiction      8670.0           8.3  8.251406
6                  Schindler's List      4436.0           8.3  8.206639
7                          Whiplash      4376.0           8.3  8.205404
8                     Spirited Away      3968.0           8.3  8.196055
9                 Life Is Beautiful      3643.0           8.3  8.187171
10           The Godfather: Part II      3418.0           8.3  8.180076
11  One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
12                     Forrest Gump      8147.0           8.2  8.150272
13          The Empire Strikes Back      5998.0           8.2  8.132919
14                           Psycho      2405.0           8.3  8.132715
15                 The Intouchables      5410.0           8.2  8.125837
16                       Your Name.      1030.0           8.5  8.112532
17           Leon: The Professional      4293.0           8.2  8.107234
18                   The Green Mile      4166.0           8.2  8.104511
19                       GoodFellas      3211.0           8.2  8.077459

In [ ]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
q_movies['overview'] = q_movies['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(q_movies['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4555, 19694)

In [ ]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[1000:1010]

['antarctic',
 'antarctica',
 'anthill',
 'anthology',
 'anthony',
 'anti',
 'antibes',
 'antichrist',
 'anticipate',
 'anticipated']

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim.shape

(4555, 4555)

In [ ]:
cosine_sim[1]

array([0.00522362, 1.        , 0.01249039, ..., 0.        , 0.01420965,
       0.01535064])

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(q_movies.index, index=q_movies['title']).drop_duplicates()

In [ ]:
indices[:10]

title
The Shawshank Redemption       0
The Godfather                  1
Dilwale Dulhania Le Jayenge    2
The Dark Knight                3
Fight Club                     4
Pulp Fiction                   5
Schindler's List               6
Whiplash                       7
Spirited Away                  8
Life Is Beautiful              9
dtype: int64

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return q_movies['title'].iloc[movie_indices]
    # return idx

In [ ]:
get_recommendations('The Dark Knight Rises')

4353                             Batman Forever
3                               The Dark Knight
1574                             Batman Returns
766                                      Batman
501                  Batman: Under the Red Hood
1539                           Batman: Year One
467     Batman: The Dark Knight Returns, Part 1
2232                          Batman: Bad Blood
322     Batman: The Dark Knight Returns, Part 2
1246               Batman: Mask of the Phantasm
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather')

10       The Godfather: Part II
3405                 Blood Ties
670     The Godfather: Part III
2835              Live by Night
1141                   Sinister
4436      The Cold Light of Day
2311                        Joe
503           Road to Perdition
1370         Death at a Funeral
1529          The Addams Family
Name: title, dtype: object

In [ ]:
# BELUM BERDASARKAN CREDIT, GENRE, dan KEYWORD